<!doctype html>
<html lang="en" ng-app="funifierImportApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Admind Viden</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.12.12/xlsx.full.min.js"></script>
    <script src="js/index.js"></script>
</head>

<body ng-controller="FunifierController">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Admin Viden</a>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <button class="nav-link" ng-click="signOut()" >Sign out</button>
            </li>
        </ul>
    </nav>

    <div class="container-fluid" ng-if="isAuthentication()">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="" ng-click="goToIndexPage()">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" ng-click="goToImportPage()">
                                <span data-feather="layers"></span>
                                import
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" ng-click="goToReportPurchasesPage()">
                                <span data-feather="shopping-cart"></span>
                                Report Purchases
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Import</h1>
                </div>

                <div class="d-flex justify-content-end mb-4">
                    <button type="button" class="btn btn-info" ng-click="goToIndexPage()">Return</button>
                </div>

                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file">
                        <label class="custom-file-label" for="file">Upload</label>
                    </div>
                </div>

                <div>
                    <button class="btn btn-info" type="submit" value="submit" ng-click="uploadExcel()">Upload File</button>
                </div>

                <div class="my-3" ng-if="filesTosubmit.length > 0">
                    Total de jogadores: {{ fileSize }}
                </div>

                <div ng-if="response > 0">
                    Total de jogadores registrados: {{ response }}
                </div>


                <div class="mb-4">
                    <button ng-if="filesTosubmit.length > 0 && !filesWithError.length > 0" class="btn btn-info" type="submit"
                        value="submit" ng-click="import()">Import</button>
                </div>

                <div class="lds-ellipsis" ng-if="spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>

                <div class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Operation Summary.</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Total of actions imported: {{dataResponse.total_registered}}</p>
                                <p>Total of actions ignored: {{dataResponse.total_ignored}}</p>
                                <b ng-if="!dataResponse.content_with_not_allowed_player">Content with not allowed
                                    players:</b>
                                <table class="table table-striped table-sm" ng-if="!dataResponse.content_with_not_allowed_player">
                                    <thead>
                                        <tr>
                                            <th>User ID</th>
                                            <th>Title</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(index, error) in dataResponse.content_with_not_allowed_players">
                                            <td>{{ error.userId }}</td>
                                            <td>{{ error.attributes.title }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="voltar()">ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
</body>

</html>
